
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');



.contact_form{
    display: flex;
    flex-direction: column;
    top: 150px;
    position: fixed;
    left: 240px;
    font-family: 'Ibarra Real Nova', serif;
    color: rgb(1, 1, 1);
    width: 66vw;



}
.b2
{
    font-size: 27px;
}
.b3
{
    font-size: 33px;
}

.contact_form textarea {
    background-color: transparent;
    color: antiquewhite;
    height: 60px;
    width: 400px;
    border-width: 0 0 2px;
   
}
.contact_form input {
    background-color: transparent;
    color: antiquewhite;
    height: 30px;
    width: 400px;
    border-width: 0 0 2px;
    
   
}
.contact_form ul {
    background-color: transparent;
    
   

}
.contact_form  button{
    background-color: rgb(44, 40, 40);
    color: azure;
    border: 1px;
    border-radius: 15px;
    margin-top: 5px;
width: 75px;
height: 30px;
border: none;
   
   

}
.contact_form  button :hover{
    background-color: rgb(36, 29, 29);
    color: rgb(94, 182, 182);
    border: 1px;
    margin-top: 5px;
width: 85px;
height: 40px;
transition: 500ms;
   
   

}

