
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

.abc{
    visibility: hidden;
}
.container-home_page11{
    display: flex;
    flex-direction: column;
    top: 150px;
    position: fixed;
    left: 210px;
    font-family: 'Ibarra Real Nova', serif;
    color: rgb(20, 23, 23);
}

.btn111{
    text-decoration: none;
    background-color: black;
    color: antiquewhite;
    width: 139px;
    height: 40px;
    border-radius: 5px;
    
}
.btn111:hover{
    background-color: rgb(225, 211, 211);
    color: rgb(24, 29, 29);
    border: 1px;
    

transition: 500ms;
    
    
}

@media only screen and (max-width: 600px) {
    
    .abc{
        visibility: visible;
        color: rgb(19, 23, 23);
        font-size: 20px;
    }

    .container-home_page11{
        display: flex;
        flex-direction: column;
        top: 150px;
        position: fixed;
        left: 130px;
        font-family: 'Ibarra Real Nova', serif;
        color: rgb(20, 23, 23);
    }
  }
