
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

.container-home_page{
    display: flex;
    flex-direction: row;
    top: 150px;
    position: fixed;
    left: 240px;

}
.logos1{
    margin-top: 80px;
    width: 100px;
}

.textt{
    
    width: 40vw;
    margin-right: 20px;
    color: rgb(14, 16, 19);
    font-family: 'Ibarra Real Nova', serif;
    font-size: 25px;
    
}
.SS{
    background-color: rgba(25, 23, 23, 0.2);
    
    padding: 10px;
    border-radius: 7px;
}
.SS:hover{
    background-color: rgba(25, 23, 23, 0.3);
    
    padding: 10px;
    border-radius: 7px;
}
.A1{
    text-decoration: underline;
    color: rgb(174, 197, 191);
    
}

    .vl {
        border-left: 3px solid rgb(221, 234, 221);
        height: 400px;
        padding-right: 30px;
        
      }
.skilltext{
    font-size: 30px;
    font-weight: bold;
    color: rgb(214, 220, 220);
}


@media only screen and (max-width: 600px) {
    

    .container-home_page{
        display: flex;
        flex-direction: column;
        top: 150px;
        position: fixed;
        left: 100px;
        font-family: 'Ibarra Real Nova', serif;
        color: rgb(20, 23, 23);
		
    
   
  }
}