@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

.container-home_page{
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    top: 120px;
    position: fixed;
    left: 210px;
    font-family: 'Ibarra Real Nova', serif;
    
}
.image_box {
    border-radius: 10px;
    height: 270px;
    width: 270px;
    overflow: hidden;
    padding-bottom: 0px;
    position: relative;
    margin: 15px;
}
.content {
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.3),#000);
    bottom: -70px;
    color: #fff;
    padding: 9px 37px;;
    position: absolute;
    transition: cubic-bezier(.165,.84,.44,1);
    width: 100%;
    z-index: 3;
}
.work_image {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 2;
}
.image_box:hover
    .content {
        background: linear-gradient(180deg,rgba(0,0,0,.5),#000);
        bottom: 00px;
        color: #fff;
        padding: 10px 30px;
        position: absolute;
        transition: cubic-bezier(.165,.84,.44,1);
        width: 100%;
        z-index: 3;
        transition: 400ms;
    } 
 .content:hover{
   
        background: linear-gradient(180deg,rgba(0,0,0,.5),#000);
        bottom: 00px;
        color: #fff;
        padding: 10px 30px;
        position: absolute;
        transition: cubic-bezier(.165,.84,.44,1);
        width: 100%;
        z-index: 3;
    }


.title1{
    
        display: flex;
        flex-direction: column;
        top:35px;
        position: fixed;
        left: 210px;
        color: rgb(13, 18, 18);
        font-family: 'Ibarra Real Nova', serif;
    }
.abba {
    visibility: hidden;

}



