

.whole {
  position: relative;
}

.bc {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}
.nav {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}
.immage {
  height: 100vh;
  margin: 0;
  width: 100vw;
  padding-bottom:0px;
  
  max-width: 100%;
  max-height: 100%; 

object-fit: cover;
}
